---
import CheckoutForm from "../components/CheckoutForm";
import MainLayout from "../layouts/MainLayout.astro";

const pageTitle = "Home Page";
const pageDescription = "Welcome to the home page.";
---

<MainLayout title={pageTitle} description={pageDescription}>
  <div class="flex flex-col items-center justify-center text-center min-h-screen py-0">
      <CheckoutForm client:load />
  </div>
</MainLayout>
